* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", san;
  background-color: #191919;
}
nav h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 5vh;
}
footer h1{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2vh;
}
footer h1 span{
    color: #DC143C;
}
.radio-container {
    margin: 0 auto;
    max-width: 300px;
    color: #fff;
  }
  
  .radio-wrapper {
    margin-bottom: 20px;
  }
  
  .radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .radio-button:hover {
    transform: translateY(-2px);
  }
  
  .radio-button input[type="radio"] {
    display: none;
  }
  
  .radio-checkmark {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid #DC143C;
    border-radius: 50%;
  }
  
  .radio-checkmark:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #DC143C;
    transition: all 0.2s ease-in-out;
  }
  
  .radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .radio-label {
    font-size: 16px;
    font-weight: 600;
  }
  .group {
    position: relative;
   }
   
   .input {
    font-size: 16px;
    padding: 20px 20px 20px 10px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    color: #fff;
    justify-content: center;
   }
   
   .input:focus {
    outline: none;
   }
   
   label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }

   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }